.nav-main ul {
    display:flex;
    color:gray
}
/*.nav-main li {
    margin-right: .5em;
}*/
.nav-main span{
    margin:0 .5em;
    color:grey;
}
.nav-main li:last-child span{
    display:none;
}
.nav-main li:last-child {
    margin-right: 0;
}
.nav-main a {
    color: black;
}
.nav-main a:hover {
    text-decoration: underline;
}
.nav-main .separator {
    color: gray;
}
.nav-main .current-menu-item a{
    color:grey;
    pointer-events: none;
}
.nav-pagination span.separator {
    margin-left: .5em;
    color:grey
}
.nav-pagination span.page-numbers {
    margin-right: .5em;
    color:rgb(15, 2, 129)
}
.nav-pagination .page-numbers {
    margin-right: .5em;
    
}
.nav-pagination a:hover {
    text-decoration:underline;
}
.nav-pagination a:hover span {
    display: inline-block;
    text-decoration:none;  
}
.nav-pagination a:nth-last-child(2) span {
    display:none;
}