* {box-sizing: border-box;}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1em;
    background-color: red;
    display:flex;
}

section {
    background-color: coral;
    width: 70%;
    height: 200px;
}

aside {
    background-color: darkcyan;
    width:300px;
    height: 200px;
    flex-shrink: 0;
    
}